<?xml version="1.0" encoding="UTF-8"?>

<web-app>

<servlet>

<servlet-name>Serv1</servlet-name>
<servlet-class>pack1.proj3.Serv1</servlet-class>

<init-param>
<param-name>employee_name</param-name>
<param-value>abc def</param-value>
</init-param>

<init-param>
<param-name>employee_id</param-name>
<param-value>5</param-value>
</init-param>


<init-param>
<param-name>employee_salary</param-name>
<param-value>50000</param-value>
</init-param>

</servlet>



<servlet-mapping>

<servlet-name>Serv1</servlet-name>
<url-pattern>/Serv1</url-pattern>


</servlet-mapping>


</web-app>